/* General Styles */
h1 {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin: auto;
  padding-bottom: 7px;
  padding-top: 3px;
}

body {
  margin: 0;
}

/* Header Styles */
header {
  width: 100%;
  height: 125px;
  background-color: #413c3c;
  display: block;
  align-items: center;
  top: 0;
  padding-top: 1px;
  padding-bottom: 8px;
  
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
  margin: auto;
}

/* Main Content Styles */
main {
  padding-top: 50px;
}

main .all-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 1400px;
  margin: 25px auto;
  padding: 20px 10px;
}

.all-photos img {
  width: 100%;
  max-width: 700px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.5ms ease-in-out; /* Added transition for fade effect */
}

.all-photos::after {
  content: "";
  width: 850px;
}

/* Button Styles */
main > .all-photos > button {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* Overlay Effect */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black overlay */
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Smooth transition for overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-edge:hover img {
  opacity: 0.3; /* Fades the image on hover */
}

.round-edge:hover .image-overlay {
  opacity: 1; /* Shows the overlay on hover */
}

.overlay-text {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

footer {
  width: 100%;
  height: 170px;
  background-color: #413c3c;
  display: block;
  padding: 7px;
  padding-top: 7px;
  
}

footer img {
  max-width: 35px;
  max-height: 3 5px;
  padding-bottom: 8px;
  padding-right: 3px;
}

footer p {
  display: inline;
  font-weight: 50;
  font-family: Arial, Helvetica, sans-serif;
  }

footer a {
  color: inherit;
  text-decoration: none;
}

footer h5 {
  padding-bottom: 10px;
}
  

.collapse {
  background-color: #413c3c;
}

.container-fluid .icon-camera {
  max-width: 40px;
  max-height: 40px;
}